covid
selenium
kbbi
pySmartDL
requests
https://github.com/AyraHikari/pyrogram/archive/asyncio-dev.zip
git+https://github.com/pytube3/pytube3.git
TgCrypto
pydrive
sqlalchemy
psycopg2
bs4
pyDownload
pillow
gtts
gitpython
pafy
youtube_dl==2020.2.16
googletrans
currencyconverter
bitlyshortener
heroku3
speedtest-cli
git+https://github.com/legenhand/mega.py.git
httplib2==0.18.0
coffeehouse
pycurl