covid
selenium
psycopg2
kbbi
pySmartDL
requests
git+https://github.com/pytube3/pytube3.git
git+https://github.com/pyrogram/pyrogram@asyncio-dev
TgCrypto
pydrive
sqlalchemy
bs4
lxml
jikanpy
simplejson
removebg
telegraph
aiohttp
pyDownload
pillow
gtts
gitpython
pafy
youtube_dl==2020.6.6
googletrans
currencyconverter
bitlyshortener
heroku3
uptime
py-cpuinfo
speedtest-cli
git+https://github.com/legenhand/mega.py.git
httplib2==0.18.1
coffeehouse
pycurl
PTable